.button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--mediano);
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btnComprar {
  background-color: var(--azul-normal);
  color: var(--blanco);
}

.btnComprar:hover {
  background-color: var(--azul-oscuro);
  box-shadow: 0 4px 8px var(--difuminado);
}

.btnAñadir {
  background-color: var(--verde-normal);
  color: var(--blanco);
}

.btnAñadir:hover {
  background-color: var(--verde-oscuro);
  box-shadow: 0 4px 8px var(--difuminado);
}

.btnDescargar {
  background-color: var(--verde-normal);
  color: var(--blanco-puro);
}

.btnDescargar:hover {
  background-color: var(--verde-oscuro);
}

.btnVolver {
  background-color: var(--azul-normal);
  color: var(--blanco-puro);
}

.btnVolver:hover {
  background-color: var(--azul-oscuro);
}

.btnDefault {
  background-color: var(--negro);
  color: var(--blanco);
}