.button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--mediano);
  font-family: "Inter", sans-serif;
}

.btnComprar:hover {
  background-color: #0056b3; /* Azul más oscuro */
}

.btnAñadir:hover {
  background-color: #006400; /* Verde más oscuro */
}

.btnDefault {
  background-color: var(--negro);
  color: var(--blanco);
}
