#novedades {
  align-items: center;
}

.carruselContainer {
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  --gap-flex-carrusel: 20px;
}

.carruselWrapper {
  overflow: hidden;
  max-width: 1072px;
  margin: 0 auto;
}

.listaElementos {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease;
  gap: var(--gap-flex-carrusel);
}

.carruselElemento {
  flex: 0 0 50%;
  max-width: 500px;
  list-style: none;
  padding: 8px;
  background-color: var(--azul-claro);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  box-shadow: 0 4px 8px var(--difuminado);
  transition: transform 0.3s ease;
}

.carruselElemento:hover {
  transform: scale(1.02);
}

.imgElementoCarrusel {
  border-radius: 10px;
  max-height: 400px;
  object-fit: cover;
}

.carruselElemento h3 {
  color: var(--negro);
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  font-size: 1.2em;
}

.carruselElemento p {
  color: var(--negro);
  text-align: center;
  font-size: 1em;
  margin-top: 5px;
}

.prevBtn,
.nextBtn {
  position: absolute;
  top: 50%;
  background-color: var(--blanco);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
}

.prevBtn {
  left: 10px;
}

.nextBtn {
  right: 10px;
}

.btnContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.catalogoItem {
  min-width: 250px;
}

.catalogoItem p.precio {
  text-align: center;
}

.catalogoItemButtons a{
  text-decoration: none;
}
