footer.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1000;
  padding: 20px 0;
}
@media (max-width: 768px) {
  footer.listaFooter {
    display: block;
    justify-items: center;
  }
}
footer.footer > div {
  margin-bottom: 10px;
}

div.containerImg img.logoFooter {
  max-height: 70px;
}

.listaFooter li a {
  text-decoration: none;
  color: var(--blanco);
}

footer.footer ul {
  display: flex;
  list-style: none;
  padding: 0;
}

footer.footer ul li {
  margin: 0 15px;
}

footer.footer p {
  margin-top: 15px;
}
