.generosContainer {
  /* max-width: 80%; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
@media (max-width: 768px) {
  .generosContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
.genero {
  width: 100%;
  min-width: 200px;
  height: 150px;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blanco);
  font-weight: bold;
  text-decoration: none;
}

.genero p {
  text-align: center;
  margin: 0;
  text-wrap:balance;
}

.generosContainer a {
  display: block;
}

.cienciaFiccion {
  background-image: url("/assets/generos/CienciaFiccion.webp");
}

.fantasia {
  background-image: url("/assets/generos/Fantasia.webp");
}

.terror {
  background-image: url("/assets/generos/Terror.webp");
}

.misterio {
  background-image: url("/assets/generos/Misterio.webp");
}

.thriller {
  background-image: url("/assets/generos/Thriller.webp");
}

.romance {
  background-image: url("/assets/generos/Romance.webp");
}

.biografia {
  background-image: url("/assets/generos/Biografia.webp");
}

.historicos {
  background-image: url("/assets/generos/Historicos.webp");
}

.cinefilos {
  background-image: url("/assets/generos/Cinefilos.webp");
}

.novelas {
  background-image: url("/assets/generos/Novelas.webp");
}
