header.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1000;
}

div.navLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.userCart {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.userCart a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--blanco);
  margin-left: 15px;
}

nav.navPrincipal {
  display: flex;
  justify-content: center;
  background-color: var(--verde-normal);
  padding: 5px 0;
}

img.logoNavbar {
  max-height: 75px;
}

nav.navPrincipal ul {
  display: flex;
  padding: 0;
}

nav.navPrincipal ul a {
  text-decoration: none;
  color: var(--negro);
  padding: 0px 15px;
}

nav.navPrincipal li {
  list-style: none;
  margin: 0 10px;
}

img.iconos {
  width: 40px;
}
