.carrito-container {
    justify-self: center;
    min-height: calc(100vh - 126px);
    margin: 20px;
    text-align: center;
    width: 80%;
}

.carrito-container h1.texto-grande {
    font-size: 2rem;
    margin-bottom: 20px;
}

.carrito-container p.texto-pequeño {
    font-size: 0.9rem;
    color: var(--gris);
}

.carrito-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    padding: 15px;
    background-color: var(--verde-claro);
    border-radius: 15px;
    margin: 10px 0;
    width: 100%;
    min-height: 150px;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px var(--difuminado);
}

.carrito-item img.imagen-carrito {
    max-height: 200px;
    width: auto;
    object-fit: contain;
    border-radius: 5px;
}

.carrito-item p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: var(--gris);
}

.carrito-container button {
    margin: 20px 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: var(--blanco-puro);
}

.carrito-container button.botonComprar {
    background-color: var(--azul-normal);
}

.carrito-container button.botonVaciar {
    background-color: var(--verde-normal);
}

.carrito-container button.botonComprar:hover {
    background-color: var(--azul-claro);
    border: 1px solid var(--azul-oscuro);
    color: var(--azul-oscuro);
}

.carrito-container button.botonVaciar:hover {
    background-color: var(--verde-claro);
    border: 1px solid var(--verde-oscuro);
    color: var(--verde-oscuro);
}

button.botonEliminar {
    background-color: var(--rojo-oscuro);
}

button.botonEliminar:hover {
    background-color: var(--rojo-claro);
    color: var(--blanco);
    border: 1px solid var(--rojo-oscuro);
}

.resumen-carrito {
    text-align: right;
    font-size: 1.2rem; 
    font-weight: bold;
    color: var(--gris); 
}

.resumen-carrito p {
    margin: 5px 0; 
}

.resumen-carrito p:last-child {
    font-size: 1.4rem; 
}

.texto-azul {
    color: var(--azul-normal); 
}

.precio-negro {
    color: var(--gris); 
}

div.cantidad input.cantidadBox {
    border-radius: 5px;
    margin: auto;
    padding: 10px;
}

@media (max-width: 768px) {
    .carrito-item {
        flex-direction: column;
        gap: 5px;
    }
}