/* .catalogoBookflix {

}

.catalogo {

}

.catalogoFiltro {

}

.catalogoItems {

} */

.catalogoItem {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.catalogoItemContent {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    align-items: center;
}

/* .catalogoItemButtons {

}

.imgItemCatalogo {

} */

.titulo, .precio {
    justify-content: center;
}