/****************************************/
/* <=1340px   SMALLER COMPUTER DESKTOPS */
/****************************************/

@media (max-width: 83.75rem) {
  .catalogoItems {
    grid-template-columns: repeat(5, 1fr);
  }
}

/****************************************/
/* <=1200px   LANDSCAPE TABLETS */
/****************************************/

@media (max-width: 75rem) {
  .catalogoItems {
    grid-template-columns: repeat(4, 1fr);
  }
}

/****************************************/
/* <=940px   TABLETS */
/****************************************/

@media (max-width: 58.75rem) {
  .catalogoItems {
    grid-template-columns: repeat(3, 1fr);
  }
}

/****************************************/
/* <=700px  SMALLER TABLETS */
/****************************************/

@media (max-width: 43.75rem) {
  .catalogoItems {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .pagination {
    gap: 0px;
  }

  div.catalogoBuscadorFiltros {
    width: 60%;
  }

  div.catalogoBuscador input {
    
    margin: 2px;
  }

  div.catalogoFiltros select {
    width: 70%; 

  }

  div.catalogoFiltros {
      text-align: center;
  }
}
/****************************************/
/* <=544px  PHONES */
/****************************************/

@media (max-width: 34rem) {
  .catalogoItems {
    grid-template-columns: repeat(1, 1fr);

  }
}
