@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /*Colores verdes*/
  --verde-normal: #199a51;
  --verde-oscuro: #13743d;
  --verde-claro: #b8e0c9;

  /*Colores azules*/
  --azul-normal: #406cc4;
  --azul-oscuro: #305193;
  --azul-claro: #c4d1ed;

  /*Colores básicos*/
  --negro: #0f0f0f;
  --blanco: #f0f0f0;
  --difuminado: #0f0f0f5b;
  --rojo-normal: red;
  --rojo-oscuro: rgb(192, 0, 0);
  --rojo-claro: rgb(240, 74, 74);
  --verde: green;

  /*Tamaños texto*/
  --pequeño: 14px;
  --mediano: 18px;
  --grande: 36px;
  --extra-grande: 36px;
  --altura-header: 80px;
  --padding-container: 20px;
  --padding-item: 10px;
  --gap-botones: 10px;
  --radio-bordes: 10px;
  --sombra-sutil: 4px 4px 10px var(--difuminado);
  --gap-items: 15px;

  --texto: "Inter", sans-serif;
}

.texto-extragrande {
  font-family: "Inter", sans-serif;
  font-size: var(--extra-grande);
}
.texto-grande {
  font-family: "Inter", sans-serif;
  font-size: var(--grande);
}
.texto-mediano {
  font-family: "Inter", sans-serif;
  font-size: var(--mediano);
}
.texto-mediano-bold {
  font-family: "Inter", sans-serif;
  font-size: var(--mediano);
  font-weight: bold;
  text-decoration: none;
}
.texto-pequeño {
  font-family: "Inter", sans-serif;
  font-size: var(--pequeño);
}
.texto-pequeño-bold {
  font-family: "Inter", sans-serif;
  font-size: var(--pequeño);
  font-weight: bold;
  text-decoration: none;
}

.texto-negro {
  color: var(--negro);
}
.texto-blanco {
  color: var(--blanco);
}

.fondo-negro {
  background-color: var(--negro);
}
.fondo-verde {
  background-color: var(--verde-normal);
}
.fondo-azul {
  background-color: var(--azul-normal);
}
.fondo-azul-claro {
  background-color: var(--azul-claro);
}
.fondo-blanco {
  background-color: var(--blanco);
}

* {
  margin: 0;
  padding: 0;
}


/* IDEA DE ROCIO

 main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* * {
  outline: 1px solid red;
} */
