/* footer.module.css */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1000;
  padding: 20px 0;
}

.footerContent {
  margin-bottom: 10px;
}

.logoFooter {
  max-height: 45px;
}

.listaFooter a {
  text-decoration: none;
  color: var(--blanco);
}

.footerLinks {
  display: flex;
  list-style: none;
  padding: 0;
}

.footerLinks li {
  margin: 0 15px;
}

.footerText {
  margin-top: 15px;
}
