.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-container a {
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}

.form-container a:hover {
  text-decoration: underline;
}

.form-container h1 {
  margin-bottom: 15px;
  font-weight: 900; /* Peso de fuente aumentado */
  text-transform: uppercase; /* Texto en mayúsculas */
}

.form {
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 0 20px;
  box-sizing: border-box;
}

.form div {
  margin-bottom: 15px;
  width: 100%;
}

.form label {
  display: block;
  font-weight: bold;
  text-align: left;
  width: 100%;
}

.form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: 2px solid var(--verde-normal);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}

.form button:hover {
  background-color: #0056b3;
  border-color: var(--verde-oscuro);
}

.form a {
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.input-con-icono {
  position: relative;
}

.input-con-icono input {
  width: 100%;
  padding-right: 30px;
}

.icono-mostrar {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
