/* ProductoDetalle.module.css */

/* .productoDetalle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.imagenContainer {
  max-width: 300px;
  margin-bottom: 20px;
}

.imagen {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.detalles {
  width: 100%;
  text-align: center;
}

.detalles h1 {
  font-size: var(--grande);
  margin-bottom: 10px;
}

.descripcion {
  font-size: var(--mediano);
  color: var(--negro);
  margin-bottom: 15px;
}

.precio {
  font-size: var(--mediano);
  font-weight: bold;
  margin-bottom: 10px;
}

.stock {
  font-size: var(--pequeño);
  color: var(--verde-normal);
  margin-bottom: 20px;
}

.valoracion {
  font-size: var(--mediano);
  margin-bottom: 20px;
}

.reseña {
  text-align: left;
  margin-top: 15px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.reseña p {
  margin: 5px 0;
} */

.productoDetalle {
  display: block;
  max-width: 90%;
  justify-content: center;
  justify-items: center;
}

.principal {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 20% 50% 20%;
  justify-items: stretch;
  justify-content: space-evenly;
  grid-gap: 10px;
}

img.imagen {
  max-width: 350px;
}