/* Centrar el contenedor principal en la pantalla */
.registro-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  height: calc(100vh - 80px); /* Ocupa toda la altura de la pantalla menos el espacio del header/footer */
  padding: 20px;
  box-sizing: border-box;
}

/* Ajustar el margen del título para acercarlo al formulario */
.registro-container h1 {
  
  font-weight: bold;
  margin-bottom: 10px; /* Ajusta este margen para controlar la distancia */
}

/* Estilos del formulario de registro */
.registro-form {
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 0 20px;
  box-sizing: border-box;
}

/* Ajustes para los campos y el botón */
.registro-form form div {
  margin-bottom: 15px;
  width: 100%; /* Asegura que los divs ocupen el ancho completo */
}

.registro-form label {
  display: block;
  /* margin-bottom: 5px; */
  font-weight: bold;
  text-align: left; /* Alinea el texto a la izquierda */
  width: 100%;
}

.registro-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.registro-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}

.registro-form button:hover {
  background-color: #0056b3;
}

/* Estilo del enlace para acercarlo al formulario */
.registro-container a {
  margin-top: 10px; /* Ajusta este margen para controlar la distancia */
  color: #007bff;
  text-decoration: none;
}

.registro-container a:hover {
  text-decoration: underline;
}

h1{
  margin-bottom: 15px;
}