body {
  background-color: var(--blanco);
  margin: 0;
  padding: 0;
}

.home-bookflix {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
}

.box-banner {
  display: flex;
  justify-content: center;
  margin: 75px 0 50px 0;
}

.top-ventas-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px 0;
  max-width: 70%;
  margin: 0 auto;
}

.libro {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.libro-imagen {
  width: 100%;
  height: auto;
  display: block;
}

.puesto-imagen {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
}

.carrusel-container {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  overflow: hidden;
}

.carrusel {
  display: flex;
  transition: transform 0.5s ease;
  gap: 15px;
}

.carrusel-item {
  min-width: calc(100% / 3);
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
}

.btn-comprar {
  padding: 5px;
}

.btn-anadir {
  padding: 5px;
}

.btn-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.flecha {
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.izquierda {
  left: 10px;
}

.derecha {
  right: 10px;
}
