body {
  background-color: var(--blanco);
  margin: 0;
  padding: 0;
}

.home-bookflix {
  margin: 0 auto;
  display: grid; /* Cambiado a grid */
  grid-template-columns: 1fr; /* Una columna principal */
  gap: 100px; /* Espacio entre secciones */
}

/* ********** */
/*   BANNER   */
/* ********** */

.box-banner {
  display: flex;
  justify-content: center; /* Centra el banner */
  margin: 75px 0 50px 0;
}

/* ********** */
/*   GÉNEROS  */
/* ********** */

.generos-container {
  max-width: 80%; /* Ajusta según tus necesidades */
  margin: 0 auto; /* Centra el contenedor */
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columnas */
  gap: 20px; /* Espacio entre recuadros de géneros */
}

.genero {
  width: 100%; /* Ocupa el 100% del espacio de la celda */
  height: 150px; /* Altura fija para todos los recuadros */
  background-size: cover; /* Cubrir el área del recuadro */
  border-radius: 8px; /* Bordes redondeados */
  display: flex; /* Para centrar el contenido */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  color: white; /* Color del texto */
  font-weight: bold; /* Negrita */
  text-decoration: none; /* Elimina subrayado en enlaces */
}

.genero p {
  margin: 0; /* Asegura que no haya margen adicional en el texto */
}

/* Estilos para el enlace dentro de generos */
.generos-container a {
  display: block; /* Hace que el enlace ocupe toda el área del recuadro */
}

.ciencia-ficcion {
  background-image: url("/assets/generos/CienciaFiccion.png");
}

.fantasia {
  background-image: url("/assets/generos/Fantasia.png");
}

.terror {
  background-image: url("/assets/generos/Terror.png");
}

.misterio {
  background-image: url("/assets/generos/Misterio.png");
}

.thriller {
  background-image: url("/assets/generos/Thriller.png");
}

.romance {
  background-image: url("/assets/generos/Romance.png");
}

.biografia {
  background-image: url("/assets/generos/Biografia.png");
}

.historicos {
  background-image: url("/assets/generos/Historicos.png");
}

.cinefilos {
  background-image: url("/assets/generos/Cinefilos.png");
}

.novelas {
  background-image: url("/assets/generos/Novelas.png");
}

/* ********** */
/* TOP VENTAS */
/* ********** */

.top-ventas-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px 0;
  max-width: 70%;
  margin: 0 auto;
}

.libro {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.libro-imagen {
  width: 100%;
  height: auto;
  display: block;
}

.puesto-imagen {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
}

/* ********** */
/* CARROUSEL  */
/* ********** */

.carrusel-container {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  overflow: hidden; /* Oculta los elementos que salen del área visible */
}

/* Estilos del carrusel */
.carrusel {
  display: flex;
  transition: transform 0.5s ease;
  gap: 15px; /* Ajusta el espacio entre los elementos del carrusel */
}

/* Estilos de cada item en el carrusel */
.carrusel-item {
  min-width: calc(
    100% / 3
  ); /* Cambia a un valor mayor para ver más libros a la vez */
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
}

.btn-comprar {
  padding: 5px;
}

.btn-anadir {
  padding: 5px;
}

.btn-container {
  display: flex; /* Alinea los botones horizontalmente */
  gap: 8px; /* Ajusta el espacio entre los botones */
  justify-content: center; /* Centra los botones dentro del contenedor */
  margin-top: 15px; /* Añade un margen superior para separarlo del texto */
  margin-bottom: 15px;
}

/* Flechas de navegación */
.flecha {
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.izquierda {
  left: 10px;
}

.derecha {
  right: 10px;
}
